/* NAVIGATION */
.switch-post {
	display: block;
	& > .next-post {
		position: fixed;
		z-index: 999;
		width: 38px;
		height: 74px;
		left: 0;
		top: 50vh;
		transform: translate(0, -50%);
		background: url('../images/prev-black.png');
	}
	& > .prev-post {
		position: fixed;
		z-index: 999;
		width: 38px;
		height: 74px;
		right: 0;
		top: 50vh;
		transform: translate(0, -50%);
		background: url('../images/next-black.png');
	}
}

/* SHOWCASE */
.item--hover {
	background-color: rgba(255, 255, 255, 0.8);
	opacity: 0.8;
	-webkit-transition: all 0.3s ease-in-out;
	transition: all 0.3s ease-in-out;

	// visibility: visible; // DEBUG
	// opacity: 1; // DEBUG
}
.item:hover .item--hover {
	opacity: 0.3;
}
.item__overlay {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	z-index: 90;
}
.item__text {
	position: absolute;
}
.item__heading {
	position: relative;
	top: 0px;
	transition: all 0.3s ease-in-out;
}
.item:hover .item__heading {
	top: -15px;
}
.item__caption {
	position: relative;
	bottom: 0px;
	transition: all 0.3s ease-in-out;
}
.item:hover .item__caption {
	bottom: -15px;
}