.about{
	color: grey;
}
.contact{
	color: grey;
	.adress-online{
		span{
			display: block;
			a:link, a:visited{
				color: grey;
			}
			a:hover, a:active{
				color: lightgrey;
			}
		}
	}
	.adress-offline{
		span{
			margin: 0 3px 0 3px;
		}
	}
}

.socialmedia{
	padding: 0;
	li{
		list-style: none;
		margin: 5px 6px 5px 6px;
	}
	a:link, a:visited{
		color: grey;
	}
	a:hover, a:active{
		color: lightgrey;
	}
}