.about{
	color: grey;
}
.contact-adress{
	color: grey;
	adress span{
		display: block;
	}
}

.contact-socialmedia{
	margin: 0 auto;
	ul{
		margin: 0;
		padding: 0;
		text-align: center;
		li{
			list-style: none;
			margin: 5px 6px 5px 6px;
			a{
				border-bottom: none;
			}
		}
	}
}