html, body {
	@include fontRegular;
	color: $black;
	font-size: 1em;
	-webkit-font-smoothing: antialiased;
}
a {
	color: $black;
	&:hover {
		color: inherit;
		text-decoration: underline;
	}
	&:visited {
		color: inherit;
	}
}
/* NAVIGATION */
.nav-scroll {
	background-color: $white;
}
.nav-scroll a {
	color: $black;
}
.switch-post {
	display: none;
}

/* SLIDER */
.slider-text {
	position: absolute;
	z-index: 10;
	bottom: 18vh;
	left: 5vw;
	width: 90vw;
}
.slider-title {
	@include fontBold;
	color: $white;
	font-size: 2.2em;
	text-transform: uppercase;
}
.slider-caption {
	@include fontRegular;
	color: $white;
	font-size: 1.2em;
	text-transform: none;
}
.slider-link {
	@include fontRegular;
	position: relative;
	top: 1em;
	padding: 0.3em;
	color: $white;
	font-size: 1.4em;
	text-transform: uppercase;
	border: em(2) solid $white;
	&:hover {
		text-decoration: underline;
	}
}
/* FEATURETTES */
.featurette {
	height: 24em;
	background-repeat: no-repeat;
	background-position-x: 50%;
	background-position-y: 50%;
	background-size: cover;
}
.featurette__container {
	padding-top: em(60);
}
.featurette__divider {
	margin: 2.4rem 0;
	border: 0;
	border-top: 1px solid $black;
}
.featurette__text {
	@include fontRegular;
	height: 100%;
	padding: 4em 3em;
	color: $black;
	background-color: $white;
	opacity: 0.7;
	transition: opacity 0.3s ease-in-out;
	&:hover {
		opacity: 0.9;
	}
}
.featurette__heading {
	font-size: 2.2em;
	color: $black;
	text-transform: uppercase;
}
.featurette__caption {
	margin-top: em(15);
	font-size: 1em;
}
.featurette__link {
	@include fontRegular;
	position: relative;
	top: 1em;
	padding: 0.3em;
	color: $black;
	font-size: 1.4em;
	text-transform: uppercase;
	border: em(1) solid $black;
	&:hover {
		text-decoration: underline;
		color: inherit;
	}
}

/* Showcase Archive */
.showcase__header {
	position: relative;
	height: 80vh;
	background-image: url('../images/pineapple.jpeg');
	background-repeat: no-repeat;
	background-position-x: 50%;
	background-position-y: 50%;
	background-size: cover;
}
.showcase__title {
	@include fontLightItalic;
	display: inline-block;
	margin: 2em 0 0 0;
	color: $black;
	font-size: 4.2em;
	border-bottom: em(1.95) double $black;
}
.showcase__container {
	padding-top: 30px;
}
.item {
	margin-bottom: 15px;
}
.item__content {
	display: block;
	position: relative;
	height: em(345 + 176);
	background-repeat: no-repeat;
	background-position-x: 50%;
	background-position-y: 50%;
	background-size: cover;
}
.item__overlay {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	z-index: 90;
	background-color: $white;
	opacity: 0.8;
}
.item__text {
	position: absolute;
	bottom: 0;
	height: 11em;
	width: 100%;
	padding: 1em;
}
.item__heading {
	@include fontBold;
	color: $black;
}
.item__caption {
	@include fontRegular;
	color: $black;
}

/* SINGLE POST */
.single__container {
	min-height: 25vh;
}
.single__header {
	position: relative;
	height: 40vh;
	background-repeat: no-repeat;
	background-position-x: 50%;
	background-position-y: 50%;
	background-size: cover;
}
.single__text {
	@include fontRegular;
	display: inline-block;
	position: absolute;
	top: 50%;
	left: 50%;
	width: 100%;
	transform: translate(-50%, -50%);
	color: $white;	
}
.single__title {
	font-size: 2em;
	margin-bottom: 0.6rem;
}
.single__date {
	font-size: 1.4em;
}
.single__author {
	@extend .single__date;
	@include fontBold;
}
.single__content {
	margin-top: 1rem;
	p {
		margin: 30px auto;
	}
	p > img {
		width: 100%;
		height: auto;
	}
}

/* SHOWCASE POST */
.showcase-single__container {
	min-height: 25vh;
}
.showcase-single__header {
	position: relative;
	height: 40vh;
	background-repeat: no-repeat;
	background-position-x: 50%;
	background-position-y: 50%;
	background-size: cover;
}
.showcase-single__text {
	@include fontRegular;
	display: inline-block;
	position: absolute;
	top: 50%;
	left: 50%;
	width: 100%;
	transform: translate(-50%, -50%);
	color: $white;	
}
.showcase-single__title {
	font-size: 2em;
	margin-bottom: 0.6rem;
}
.showcase-single__date {
	font-size: 1.4em;
}
.showcase-single__author {
	@extend .showcase-single__date;
	@include fontBold;
}
.showcase-single__content {
	margin-top: 1rem;
	p {
		margin: 30px auto;
	}
	p > img {
		width: 100%;
		height: auto;
	}
}

/* COMMENTS */
.comment-list {
	margin: 15px auto 45px;
}
.comment-body > div.reply > a {
	@include fontRegular;
	position: relative;
	top: 1em;
	padding: 0.3em;
	color: $black;
	font-size: 1rem;
	text-transform: uppercase;
	border: em(1) solid $black;
	&:hover {
		text-decoration: underline;
		color: $black;
		border-bottom: em(1) solid $black;
	}
}
.comments > form label {
	@include fontBold;
}
.comments > form input, .comments > form textarea {
	border: em(1) solid $black;
	border-radius: 0;
}
.comments > form input[type=submit] {
	@include fontBold;
	&:hover {
		color: $white;
		background-color: $black;
		border: em(1) solid $black;
	}
}
.form-control:focus {
	border: em(3) solid $black;
	outline: none;
}