html, body {
	@include fontRegular;
	font-size: 1em;
	-webkit-font-smoothing: antialiased;
}
h2, .col-xs-12{
	text-align: center;
}

/* Slider style */
.slider-text {
	position: absolute;
	z-index: 10;
	// top: 50%;
	// left: 50%;
	// transform: translate(-50%, -50%);
	bottom: 10vh;
	left: 5vw;
	width: 90vw;
}
.slider-title {
	@include fontBold;
	font-size: 2.2em;
	text-transform: uppercase;
}
.slider-caption {
	@include fontRegular;
	font-size: 1.2em;
	text-transform: none;
}

/* single - showcase */
.showcase-grid {
	.item:hover{
		.img img{
			opacity: .5;
		}
		a, strong{
			color: gainsboro;
		}
	}
	.item {
		margin-top: 5px;
		text-align: center;
		.img img {
			margin-top: 5px;
			transition: opacity .4s ease;
		}
		a, strong{
			transition: color .4s ease;
			text-decoration: none;
		}
		p.showcase-item__title{
			strong {
				font-size: 1.4rem;
			}
	  		span.info{
	  			margin-top: 8px;
	  			display: block;
			}
		}
	}

}

.site {
	padding: 50px;
}

.single-text {
	padding-top: 10px;
	padding-bottom: 10px;
}
