.navbar {
  background-color: $white;
  width: 100%;
  a:hover {
    text-decoration: underline;
  }
}
.navbar-brand {
  @include fontBold;
  float: none;
  text-transform: uppercase;
  padding-bottom: 0;
}
.navbar-toggler {
  color: $black;
  padding-top: 6px;
}
.navbar-nav .nav-item {
  float: none;
}
.navbar-nav .nav-link{
  padding-bottom: 0;
}

.navbar-nav .nav-more {
  @include fontItalic;
}
.navbar-divider,
.navbar-nav .nav-item+.nav-item,
.navbar-nav .nav-link + .nav-link {
  margin-left: 0;
}
@media (min-width: 1024px) {
  .navbar {
    background-color: transparent;
  }
  .navbar-brand {
    float: left;
  }
  .navbar-nav .nav-item {
    float: left;
  }
  .navbar-divider,
  .navbar-nav .nav-item+.nav-item,
  .navbar-nav .nav-link + .nav-link {
    margin-left: 1rem;
  }
}