.extra-slider {
	margin: 0;
	position: relative;
	top: 0;
	left: 0;
	z-index: 1;
	width: 100vw;
	height: 100vh;
	.wrapper, ul, li {
		z-index: 2;
		margin: 0;
		width: 100%;
		height: 100%;
		max-width: none;
	}
	li .overlay {
		position: absolute;
		top: 0;
		left: 0;
		width: 100%;
		height: 100%;
		background-color: rgba(0,0,0,0.2);
	}
	li.extra-slider-first {
		position: absolute;
	}
	.slider-item {
		background-position: center center;
		background-repeat: no-repeat;
		background-size: cover; 
	}
	.slider-text {
		z-index: 5;
	}
	.slider-link {
		z-index: 99;
	}

	// Pagination
	.pagination {
		margin: 0 0 0 0;
		position: absolute;
		left: 50%;
		bottom: 6px;
		text-align: center;
		z-index: 50;
		width: auto;
	}
	.pagination a {
		background: transparent;
		border: 2px solid #FFFFFF;
		color: transparent;
		display: inline-block;
		margin: 0 4px;
		text-indent: 100%;
		white-space: nowrap;
		position: relative;
		left: -50%;
		width: 12px;
		height: 12px;
		-webkit-border-radius: 20px;
		border-radius: 20px;
	}
	.pagination a.extra-slider-link-active {
		background: #FFFFFF;
	}
	.pagination a:hover {
		background: #FFFFFF;
	}
	// Navigation
	.navigation {
		position: absolute;
		z-index: 3;
		top: 0;
		width: 100%;
		height: 100%;
	}
	.navigation > a {
		@extend .navigation;
		z-index: 4;
		width: 50%;
		opacity: 0.4;
	}
	.navigation > a.prev {
		left: 0;
	}
	.navigation > a.next {
		right: 0;
	}
	.navigation > a.prev:hover {
		// background-color: pink;
		cursor: url('../images/prev.png'), w-resize;
	}
	.navigation > a.next:hover {
		// background-color: salmon;
		cursor: url('../images/next.png'), e-resize;
	}
}