/* Slider style */
.slider-text {
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	bottom: 10vh;
	width: 70vw;
}
.slider-title {
	@include fontBold;
	font-size: 5em;
	text-transform: uppercase;
}
.slider-caption {
	@include fontRegular;
	font-size: 2.2em;
	text-transform: none;
}

/* SHOWCASE */
.showcase__title {
	position: relative;
	top: 15vh;
	left: 6vw;
	font-size: 5.5em;
}

/* SINGLE POST */
.single__title {
	font-size: 8em;
}
.single__date {
	font-size: 1.4em;
}
.single__author {
	font-size: 1.6em;	
}